<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tarjeta</title>
        <link rel="stylesheet" href="card.css">
    </head>
    <body>
        <main>
            <div class="card">
                <div class="card__img">
                    <img class="card__img-perfil" src="img/airpods.webp" alt="">
                </div>
                <span class="card__text">Airpods AWTWSD4</span>
                <p class="card__buttons">
                    <a class="card__button" href="#home">Buy</a>
                    <a class="card__button" href="#about">Add</a>
                </p>
            </div>
        </main>
    </body>
</html>