<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Galería KNY</title>
        <link rel="stylesheet" href="gallery.css" />
    </head>
    <body>
        <main>
            <div class="gallery">
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/annime.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/descarga (1).jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/descarga (2).jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/descarga (3).jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/descarga (4).jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/descarga.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/Inosuke Hashibira ''Demon Slayer'', 4K Phone Wallpaper.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/Kimetsu no Yaiba ''Demon Slayer'' Hashiras, 4K Phone Wallpaper.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/Kyojuro Rengoku Kimetsu No Yaiba Wallpaper.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/MIKAZOART - You Don't Even Love Me [3nd Version].jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/tanjiro.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/tomioka tiste_.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/Zenitsu.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/˚⭑· ͟͟͞͞➳ ᴬⁱ ᴬʳᵗ (1).jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/˚⭑· ͟͟͞͞➳ ᴬⁱ ᴬʳᵗ (2).jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/˚⭑· ͟͟͞͞➳ ᴬⁱ ᴬʳᵗ (3).jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/˚⭑· ͟͟͞͞➳ ᴬⁱ ᴬʳᵗ.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/⚝•  Uzui Tengen.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/✶ Mizan Kibutsuji.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/➳ཉིཾ𝒟𝑒𝓂𝑜𝓃 𝒮𝓁𝒶𝓎𝑒𝓇༄↝ᴷⁱᵐᵉᵗˢᵘ ⁿᵒ ᵞᵃⁱᵇᵃ ༄°❅.jpg" alt="">
                    </div>
                </div>
                <div class="gallery__card">
                    <div class="card__content">
                        <img class="card__content-img" src="imgs/🎴Yoriichi - Demon Slayer.jpg" alt="">
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>