<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tarjeta</title>
        <link rel="stylesheet" href="tasklist.css">
    </head>
    <body>
        <main>
            <ul class="task-list">
                <li class="task-list__item">
                    <label class="task-list__label">
                        <input type="checkbox" class="task-list__checkbox">
                        <span class="task-list__text">Realizar el punto A</span>
                    </label>
                </li>
                <li class="task-list__item">
                    <label class="task-list__label">
                        <input type="checkbox" class="task-list__checkbox">
                        <span class="task-list__text">Realizar el punto B</span>
                    </label>
                </li>
                <li class="task-list__item">
                    <label class="task-list__label">
                        <input type="checkbox" class="task-list__checkbox" checked>
                        <span class="task-list__text">Realizar el punto C</span>
                    </label>
                </li>
                <li class="task-list__item">
                    <label class="task-list__label">
                        <input type="checkbox" class="task-list__checkbox">
                        <span class="task-list__text">Realizar el punto D</span>
                    </label>
                </li>
            </ul>
        </main>
    </body>
</html>